[Unit]
Description=dmbdi
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/clinical_applications/software/start_analysis.sh

[Install]
WantedBy=multi-user.target
Alias=dmbdi.service
